* {
    font-size: 100px;
}

#title {
    font-size: 160px;
    background-color: mediumorchid;
}

#text-box {
    background-color: teal;
    width: 500px;
    height: 100px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#jenny-grid-wrapper {
    display: flex;
    justify-content: center;
}

#jenny-grid {
    display: inline-block;
}

#play-button {
    width: 350px;
    height: 200px;
}

td {
    font-size: 100px;
}

button {
    width: 150px;
    height: 150px;
    background-color: yellow;
    border-color:black;
    font-size: 130px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

button:active {
    background: red;
}

