* {
    font-size: 100px;
}

body {
    background-color:rgb(56,56,56);
}

#title {
    font-size: 160px;
    background-color: mediumorchid;
}

#text-box {
    background-color:white;
    color: rgb(56,56,56);
    width: 500px;
    height: 100px;
    margin: auto;
    margin-top: 35px;
    margin-bottom: 35px;
}

#jenny-grid-wrapper {
    display: flex;
    justify-content: center;
}

#jenny-grid {
    display: inline-block;
}

#play-button {
    width: 350px;
    height: 200px;
    display: block;
    margin: 0 auto;
    background-color: limegreen;
    color: white;
}

td {
    font-size: 100px;
}

button {
    color: firebrick;
    text-transform: uppercase;
    width: 150px;
    height: 150px;
    background-color: white;
    border-color:black;
    font-size: 130px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

button:active {
    background: red;
}

